.orangebox {
	background-color:rgba(244, 122, 22, 0.7);
	padding: 5px;
}

.blue-graybox {
	background-color:rgba(3, 18, 43, 0.7);
}

.white {
	color: white;
}

.dark-bluebox {
	background-color:#03122b;
}

#contactform {
	bottom-margin: 10px;
}